@font-face {
  font-family: 'Proxima Regular';
  src: url('pm-reg.woff') format('woff'),
       url('pm-reg.ttf')  format('truetype');
}
@font-face {
  font-family: 'Proxima Bold';
  src: url('pm-bold.woff') format('woff'),
       url('pm-bold.ttf')  format('truetype');
}

* { box-sizing: border-box; }

a {
	color: #008cdd;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue", Helvetica, Arial, Sans-serif;
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 62.5%;
	body {
		font-size: 0;
	}
}

header {
	height: 50px;
	background: linear-gradient(to bottom, rgba(255,255,255,0), #f0f2f6 95%, #e5e8ee);
	box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
	border-bottom: 1px solid #9ea9ba;
	line-height: 50px;
	padding: 0 20px;
	h1 {
		margin: 0; padding: 0;
		text-transform: uppercase;
		font-size: 2rem;
	}
}

aside {
	position: fixed;
	top: 50px; left: 0;
	width: 200px;
	border-right: 1px solid #d2d7de;
	overflow: hidden;
	overflow-y: auto;
	ul {
		margin: 0;
		padding: 0;
		li {
			a {
				display: block;
				font-size: 1.2rem;
				font-weight: 700;
				line-height: 22px;
				padding: 0px 20px;
			}
			&:hover {
				a { color: #1a1a1a; }
			}
			&.active {
				background: linear-gradient(to bottom, #4f9fef, #3577d0);
				border-top: 1px solid #3b89e9;
				border-bottom: 1px solid #2357aa;
				a {
					color: #fff;
					text-shadow: 0 -1px 0 rgba(0,0,0,0.45);
					text-decoration: none;
				}
			}
		}
	}
}

#methods {
	.method {
		width: 100%;
		padding-left: 200px;
		.method-body {
			font-family: 'Proxima Regular', Sans-serif;
			width: 100%;
			background: linear-gradient(to right, #fff 49%, #1f2226 49%);
			border-bottom: 1px solid #dee2e6;
			.method-description {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				font-size: 1.3rem;
				line-height: 1.9rem;
				padding: 50px 30px;
				color: #444;
				h2 {
					color: #111;
					font-family: 'Proxima Bold', Sans-serif;
					font-size: 2.2rem;
					font-weight: 400;
				}
				h3 {
					font-family: 'Proxima Bold', Sans-serif;
					border-bottom: 1px solid #eee;
					padding-bottom: 8px;
					font-size: 1.3rem;
					font-weight: normal;
				}
			}
			.method-example {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				padding: 50px 30px;
				font-size: 1.3rem;
				color: #fff;
				text-shadow: 0 1px 0 rgba(0,0,0,0.7);
				h3 {
					font-size: 1.3rem;
					text-transform: uppercase;
					color: #acb9bf;
				}
			}
		}
		
	}
}

.arguments {
	tr {
		td {
			vertical-align: top;
			padding: 5px;
			&:first-child {
				width: 165px;
				font-family: 'Proxima Bold', Sans-serif;
				text-align: right;
			}
		}
	}
}

strong {
	font-weight: normal;
	font-family: 'Proxima Bold', Sans-serif;
}

.possible {
	display: inline-block;
	background: #e9edf2;
	border-radius: 4px;
	padding: 0 3px;
	font-family: 'monospace';
	margin: 0 5px 5px 0;
}

